@CHARSET "UTF-8";
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
  margin-bottom: 80px;
}
.carousel {
  margin-bottom: 20px;
}
.container-select-define {
	padding-top:20px;
	padding-bottom:20px;
}
.container-search-define {
	padding-bottom:20px;
}
.container-table-define {
	padding-top:20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  margin-top:20px;
}
.container-fluid .text-muted {
  margin: 20px 0;
}